@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow .react-flow__handle {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  opacity: 0;
}