@tailwind base;
@tailwind components;
@tailwind utilities;

/* the pointer-events is just the trick
for making handle invisible and thus
not draggable*/

.react-flow .react-flow__handle {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}


.h1-custom {
  @apply text-xl font-bold p-4 md:text-2xl;
}

